/* line 1, ../sass/__reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, ../sass/__reset.scss */
body {
  line-height: 1;
}

/* line 26, ../sass/__reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/__reset.scss */
nav ul {
  list-style: none;
}

/* line 35, ../sass/__reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/__reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/__reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 54, ../sass/__reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 61, ../sass/__reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 68, ../sass/__reset.scss */
del {
  text-decoration: line-through;
}

/* line 72, ../sass/__reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 77, ../sass/__reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 83, ../sass/__reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 92, ../sass/__reset.scss */
input, select {
  vertical-align: middle;
}

/* MY RULES */
/* line 100, ../sass/__reset.scss */
a {
  text-decoration: none;
}

/* line 104, ../sass/__reset.scss */
li, ul {
  margin: 0;
  padding: 0;
}

/* line 110, ../sass/__reset.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box !important;
  font-family: iranyekan,iranyekan-num,Arial;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* line 121, ../sass/__reset.scss */
*:not(p) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently                       supported by Chrome and Opera */
}

/* line 129, ../sass/__reset.scss */
html {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
}

/* line 135, ../sass/__reset.scss */
body {
  margin: 0;
  direction: rtl;
  overflow-x: hidden !important;
}

/* line 141, ../sass/__reset.scss */
main {
  overflow-y: hidden !important;
}

/* line 145, ../sass/__reset.scss */
button, input {
  border: none;
  outline: none;
}

/* line 150, ../sass/__reset.scss */
img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 155, ../sass/__reset.scss */
a:hover {
  text-decoration: none !important;
}

@font-face {
  font-family: 'iranyekan';
  src: url("fonts/webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanwebbold.woff2") format("woff2"), url("fonts/webfont.woff") format("woff"), url("fonts/webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 1900;
}
@font-face {
  font-family: 'iranyekan';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanweblight.woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 100;
}
@font-face {
  font-family: 'iranyekan';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("../webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanwebregular.woff2") format("woff2"), url("../webfont.woff") format("woff"), url("../webfont.ttf") format("truetype"), url("../webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
}
@font-face {
  font-family: 'iranyekan-num';
  src: url("fonts/webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanwebbold(fanum).woff2") format("woff2"), url("fonts/webfont.woff") format("woff"), url("fonts/webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 1900;
}
@font-face {
  font-family: 'iranyekan-num';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanweblight(fanum).woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 100;
}
@font-face {
  font-family: 'iranyekan-num';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("../webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekanwebregular(fanum).woff2") format("woff2"), url("../webfont.woff") format("woff"), url("../webfont.ttf") format("truetype"), url("../webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
}
/* line 115, ../style.scss */
.red-color {
  color: #E74C3C;
}

/* line 118, ../style.scss */
.red-bg-color {
  background-color: #E74C3C;
}

/* line 115, ../style.scss */
.orange-color {
  color: #7E349D;
}

/* line 118, ../style.scss */
.orange-bg-color {
  background-color: #7E349D;
}

/* line 115, ../style.scss */
.blue-color {
  color: #6C5CE7;
}

/* line 118, ../style.scss */
.blue-bg-color {
  background-color: #6C5CE7;
}

/* line 115, ../style.scss */
.green-color {
  color: #00B894;
}

/* line 118, ../style.scss */
.green-bg-color {
  background-color: #00B894;
}

/* line 115, ../style.scss */
.yellow-color {
  color: #F1C40F;
}

/* line 118, ../style.scss */
.yellow-bg-color {
  background-color: #F1C40F;
}

/* line 115, ../style.scss */
.purple-color {
  color: #8E44AD;
}

/* line 118, ../style.scss */
.purple-bg-color {
  background-color: #8E44AD;
}

/* line 115, ../style.scss */
.pink-color {
  color: #7E349D;
}

/* line 118, ../style.scss */
.pink-bg-color {
  background-color: #7E349D;
}

/* line 115, ../style.scss */
.brand-color {
  color: #7E349D;
}

/* line 118, ../style.scss */
.brand-bg-color {
  background-color: #7E349D;
}

/* line 115, ../style.scss */
.secondary-brand-color {
  color: #17BBB0;
}

/* line 118, ../style.scss */
.secondary-brand-bg-color {
  background-color: #17BBB0;
}

/* line 123, ../style.scss */
.white {
  color: white;
}

/* line 127, ../style.scss */
header {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
/* line 131, ../style.scss */
header .row nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 135, ../style.scss */
header .row nav .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 140, ../style.scss */
header .row nav .register {
  background-color: #7E349D;
  color: white;
  font-size: 14px;
  width: 145px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #7E349D;
  -webkit-box-shadow: 0 0 80px #7E349D !important;
  box-shadow: 0 0 80px #7E349D !important;
}
/* line 149, ../style.scss */
header .row nav .register:hover {
  background-color: transparent;
  color: #7E349D;
}
/* line 157, ../style.scss */
header .row .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* line 160, ../style.scss */
header .row .search .search-icon {
  color: #AE5CE4;
}
/* line 163, ../style.scss */
header .row .search .bars-icon {
  color: #7E349D;
  display: none;
}

/* line 172, ../style.scss */
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  /* line 172, ../style.scss */
  main section {
    max-width: none !important;
  }
}
/* line 177, ../style.scss */
main section .colrellax {
  left: calc(0% + 10px);
}
@media only screen and (max-width: 950px) {
  /* line 177, ../style.scss */
  main section .colrellax {
    transform: none !important;
    left: 0 !important;
  }
}
/* line 184, ../style.scss */
main section .content {
  margin-left: -16px;
}
@media only screen and (max-width: 950px) {
  /* line 184, ../style.scss */
  main section .content {
    text-align: center !important;
    float: none !important;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 191, ../style.scss */
  main section .content h2 {
    font-size: 1.6rem;
  }
}
/* line 196, ../style.scss */
main section .content .more {
  border: 2px solid #17BBB0 !important;
  font-size: 14px;
  width: 30px;
  color: #17BBB0;
  background-color: transparent;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 204, ../style.scss */
main section .content .more:hover {
  background-color: #17BBB0;
  color: white;
}
/* line 211, ../style.scss */
main section .content p {
  line-height: 2.3;
}
/* line 216, ../style.scss */
main #sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 219, ../style.scss */
main #sec2 .cards {
  direction: ltr !important;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 224, ../style.scss */
main #sec2 .cards .item {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 16px !important;
  padding: 40px 35px !important;
}
/* line 230, ../style.scss */
main #sec2 .cards .item span i {
  font-size: 120px;
  padding-bottom: 40px;
}
/* line 236, ../style.scss */
main #sec2 .cards .item h5 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 239, ../style.scss */
main #sec2 .cards .item p {
  color: rgba(0, 0, 0, 0.6);
}
/* line 247, ../style.scss */
main #sec2 .cards .red-hover:hover {
  background-color: #E74C3C !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 250, ../style.scss */
main #sec2 .cards .red-hover:hover span, main #sec2 .cards .red-hover:hover p, main #sec2 .cards .red-hover:hover h5 {
  color: white;
}
/* line 247, ../style.scss */
main #sec2 .cards .yellow-hover:hover {
  background-color: #F1C40F !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 250, ../style.scss */
main #sec2 .cards .yellow-hover:hover span, main #sec2 .cards .yellow-hover:hover p, main #sec2 .cards .yellow-hover:hover h5 {
  color: white;
}
/* line 247, ../style.scss */
main #sec2 .cards .purple-hover:hover {
  background-color: #8E44AD !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 250, ../style.scss */
main #sec2 .cards .purple-hover:hover span, main #sec2 .cards .purple-hover:hover p, main #sec2 .cards .purple-hover:hover h5 {
  color: white;
}
/* line 247, ../style.scss */
main #sec2 .cards .green-hover:hover {
  background-color: #00B894 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 250, ../style.scss */
main #sec2 .cards .green-hover:hover span, main #sec2 .cards .green-hover:hover p, main #sec2 .cards .green-hover:hover h5 {
  color: white;
}
/* line 259, ../style.scss */
main #sec3 {
  z-index: -1;
  background-image: url("../photos/svg/Union 3.png");
  background-repeat: no-repeat;
  background-position: 41% -15%;
  background-size: 171%;
}
/* line 261, ../style.scss */
main #sec3 .circlechart {
  z-index: 0 !important;
}
/* line 271, ../style.scss */
main #sec3 .circular {
  justify-content: center !important;
}
/* line 274, ../style.scss */
main #sec3 .circular .circlechart:nth-child(1) .circle-chart__circle {
  stroke: #E74C3C;
}
/* line 279, ../style.scss */
main #sec3 .circular .circlechart:nth-child(2) .circle-chart__circle {
  stroke: #6C5CE7;
}
/* line 284, ../style.scss */
main #sec3 .circular .circlechart:nth-child(3) .circle-chart__circle {
  stroke: #F1C40F;
}
/* line 294, ../style.scss */
main #sec3 .circular .circlechart:nth-child(5) .circle-chart__circle {
  stroke: #17BBB0;
}
/* line 299, ../style.scss */
main #sec3 .circular .circlechart:nth-child(6) .circle-chart__circle {
  stroke: #AE5CE4;
}
/* line 307, ../style.scss */
main #sec2 {
  background: #6e48aa;
  background: linear-gradient(83deg, #6e48aa 26%, #7e349d 64%);
  width: 100vw !important;
  position: relative;
}
/* line 313, ../style.scss */
main #purp-1 {
  transform: none !important;
  position: absolute;
  left: -3px;
  top: -260px;
  pointer-events: none !important;
  z-index: 1;
}
/* line 326, ../style.scss */
main #purp-2 {
  position: absolute;
  z-index: 1;
  bottom: -400px;
  left: -400px;
}

/* ---- particles.js container ---- */
/* line 337, ../style.scss */
#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../photos/svg/undraw_wallet_aym5 (1).svg");
  background-repeat: no-repeat;
  background-position: 47vw;
  background-size: 620px;
  z-index: -1000000000000;
}
@media only screen and (max-width: 950px) {
  /* line 337, ../style.scss */
  #particles-js {
    background: none;
  }
}
