.footer {
  position: relative;
  margin-top: 530px;
  min-height: 900px;
  background: {

    image :url("../img/backgrounds/footer.png");
    position: top center;
    size: 3000px;
    repeat: no-repeat;
  }
  opacity:.9;
  padding-top: 200px;
  .footer-col {

    height: 400px;
    margin: 40px;
  }
}
.social-group {
  .social-item{
    margin-right:8px;
    margin-left:8px;
    margin-bottom: 12px;
  }
}

//.footer-bottom {
//  height: 350px;
//  width: 100%;
//  background: {
//    image: url('../img/backgrounds/Group 136.png');
//    position: 72% -1%;
//    size: 2170px;
//    repeat: no-repeat;
//  };
//  left:0;
//  bottom:-150px;
//  position: absolute;
//}

.footer-bottom {
  background:{
    image: url("../img/backgrounds/Group 136.png");
    repeat: no-repeat;
    size: cover;
    position: center 30%;
  };
  background-color: white;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom:0;
  p {
    line-height: 2;
  }
}