main {
  z-index: -999999;
  @include
  background(
          $url : "../img/backgrounds/body.svg",
          $repeat: no-repeat ,
          $position:top ,
          $size: 1575px ,
          $attachment: fixed
  );
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1400px!important;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar {
    flex: 0 0 28% !important;
    max-width: 28% !important;
  }
  .content{
    flex: 0 0 72% !important;
    max-width: 72% !important;
  }
}

.content-wrapper {
  top: 580px;
  position: relative;
}

