@mixin media-text-align() {
}

$breakpoint1: 1200px;
$breakpoint2: 992px;
$breakpoint2-1: 950px;
$breakpoint3: 768px;
$breakpoint4: 635px;
$breakpoint5: 500px;
$breakpoint5-1:468px;
$breakpoint6: 350px;

  header{
    @media only screen and (max-width: $breakpoint2) {
      .nav {
        display: none;
      }
      .bars-icon {
        display: block!important;
      }
    }
    @media only screen and (max-width: $breakpoint3){
      .row{
        flex-wrap: nowrap!important;
      }
    }
  }



@media only screen and (max-width: $breakpoint2){
  .container{
    max-width: 920px!important;
  }
}
@media only screen and (max-width: $breakpoint2-1) {
  .col-md-6{
    max-width: 100%!important;
  }
  #sec3{
    top:16vh!important;
    position: relative;
    height:120vh!important;
  }
  .circular {
    margin-left: 1.5rem!important;
  }
}
@media only screen and (max-width: $breakpoint3){
  #purp-2 {
    height: 900px!important;
    top:30vh!important;
  }
}
@media only screen and (max-width: $breakpoint4) {
  .mb-5{
    margin-top: -2rem!important;
  }
  h1{
    font-size: 2rem!important;
  }
  #sec2{
    h1 {
      position: relative;
      top: 10px;
    }
    p {
      margin-top: 20px!important;
    }
  }
}
@media only screen and (max-width: $breakpoint5){
  h2{
    font-size: 1.3rem!important;
  }
  #sec2{
    h1 {
      font-size: 1.5rem!important;
      position: relative;
      top: 10px;
    }
    p {
      margin-top: -20px!important;
    }
  }
}
@media only screen and (max-width: $breakpoint5-1) {
  .register{
    display: none;
  }
  //h2{
  //  font-size: 1.3rem!important;
  //}
  h2{
    font-size: 1rem!important;
  }
  p{
    font-size: .7rem!important;
  }
  h1,h2,h3{
    line-height: 35px!important;
  }
  #sec2 {
    h1 {
      font-size: 1.4rem !important;
      position: relative;
      top: 30px!important;
    }

    p {
      margin-top: -0px !important;
      font-size: .8rem!important;
    }
  }
}

@media only screen and (max-width: $breakpoint6) {
  .container{
    padding-right: 0px!important;
    padding-left: 14px!important;
  }
  .cards{
    right:20px!important;
  }
  #sec3 {
    h1 {
      font-size: 1.6rem!important;
    }
  }
}






@media only screen and (max-width: $breakpoint1) and (min-width: $breakpoint3) {
    #sec3{
      top:115px!important;
      position: relative;
      height:876px!important;
    }
}

@media only screen and (max-width: $breakpoint3) and (min-width: $breakpoint4) {
  #sec3{
    top:115px!important;
    position: relative;
    height:1106px!important;
  }
}

@media only screen and (max-width: $breakpoint4) and (min-width: $breakpoint5) {
  #sec3{
    top:115px!important;
    position: relative;
    height:1371px!important;
  }
}

@media only screen and (max-width: $breakpoint5) and (min-width: $breakpoint5-1) {
  #sec3{
    top:114px!important;
    position: relative;
    height:1243px!important;
  }
}

@media only screen and (max-width: 468px) {
  #sec3{
    top:150px!important;
    position: relative;
    height:1300px!important;
  }
}

@media only screen and (max-width: 440px) {
  #sec3{
    top:150px!important;
    position: relative;
    height:1800px!important;
  }

  #sec2{
    h1{
      font-size: 1rem!important;
    }
    p{
      font-size: .7rem!important;
    }
  }
}

@media only screen and (max-width: 320px) {
  #sec2{
    h1{
      font-size: 1rem!important;
    }
    p{
      font-size: .7rem!important;
    }
  }
}





