$brand-color : #26166D;
$brand-secondary-color: #C6A931;
$brand-color-light: #473983;

$card-radius: 8px;


$font-directory: "../fonts/";
$iran-sans: "IRANSansWeb_";
$iran-sans-num: "IRANSansWeb(FaNum)_";
$iran-yekan: "iranyekanweb";
$font-weight-sans: Medium , Light , UltraLight , Bold , Black;
$font-weight-yekan: regular , light , bold;





